body {
    background-color: beige;
    margin: 0;
    padding: 20px;
}

.contenitore {
    height: 10vh;
    border: 2px solid black;
}

button {
    background-color: lightblue;
    color: white;
    padding: 10px 20px;
    border: none;
}

.elemento {
    color: white;
}

#primo {
    /* inserisci qui il codice per il primo elemento*/
    display: flex;
    justify-content: center;
    align-items: center;
}

#secondo {
    /* inserisci qui il codice per il secondo elemento*/
    display: flex;
    justify-content: center;
    align-items: center;
}

#terzo {
    /* inserisci qui il codice per il terzo elemento*/
    display: flex;
    
    align-items: last baseline;
}

#quarto {
    /* inserisci qui il codice per il quarto elemento*/
    
}

#quinto {
    /* inserisci qui il codice per il quinto elemento*/
    display: flex;
    justify-content: center;


}

#verde {
    background-color: lightseagreen;

}

#blu {
    background-color: lightskyblue;
}
.g1 {
    margin-right: 2px;
    display: flex-s;
    justify-content: center;
    align-items: center;
}

.g2 {
    justify-content: flex-end;
    display: flex;
    align-items: center;
}

